%div.row
  %div.form_q{"data-id" => form_question.id, "q-order" => form_question.order}
    %div.span3
      %li= form_question.question
    %div.span2
      %li= form_question.question_type
    %div.span4
      %li= form_question.created_at
    %div.span3
      %li= form_question.updated_at
    %div.form_q_button.span5
      %li= link_to "Edit Question", edit_admin_form_form_question_path(:form_id => @form.id, :id=> form_question.id), {:id => "view_btn"}
      %li= link_to "Delete Question", admin_form_form_question_path(:form_id => @form.id, :id=> form_question.id), {:id => "delete_btn", method: :delete, data: { confirm: "Are you sure?"}}
  