- body_class "users_view"
= render 'admin/navi_bar'

%div.container-fluid
  %h1= "Contents of #{@form.form_name}"

  %p To rearrange the order of the questions drag and drop the questions in the wanted order.
  %br

  %div.form_q_container.effect1
    %div.row.header
      %div.span3
        %p Form Question
      %div.span2
        %p Type
      %div.span4
        %p Created At
      %div.span3
        %p Update At
      %div.span5
        %p More
              
    %ul.sortable
      - if !@form_questions.nil?
        = render @form_questions

  = button_to "Add Form Question", new_admin_form_form_question_path, {:class => "btn btn-default", method: :get}
  = button_to "Back", admin_forms_path, {:class => "btn btn-default", method: :get}