= form_tag admin_form_form_questions_path do
  = label :form_question, :question, 'Enter the question'
  = text_field :form_question, 'question', size: 50

  %div
    = label :form_question, :question_type, "Textfield"
    =radio_button :form_question, 'question_type', "textfield", options = {onclick: "javascript:selectedOption()"}

    = label :form_question, :question_type, "Checkbox"
    =radio_button :form_question, 'question_type', "checkbox", options = {onclick: "javascript:selectedOption()"}

    = label :form_question, :question_type, "Radio Button"
    =radio_button :form_question, 'question_type', "radio_button", options = {onclick: "javascript:selectedOption()"}

    = label :form_question, :question_type, "Statement"
    =radio_button :form_question, 'question_type', "statement", options = {onclick: "javascript:selectedOption()"}

  %div
    = label_tag "answer_count", "Number of Answers for Checkbox/Radio Button", id: 'count_label'
    = text_field_tag 'answer_count', nil, maxlength: 1, size: 1
    = button_to_function "OK", "createFields()", id: "ok_but"

  %div.input_fields

  = submit_tag 'Save Changes'