<%= body_class "login_page" %>

<%= render "shared/background_cycler" %>

<%= devise_error_messages! %>

<div class="resend_container">
	<h4>Resend confirmation instructions</h4>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Resend confirmation instructions", id:"resend_btn" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
