%body.users_view

  / Anthony's code
  / -if (question.question_type == "radio_button")
  /   -String(String(question.answers)[1..-2]).split(', ').each do |choice|
  /     =radio_button_tag(:ans, "#{choice}")
  /     =label_tag(:tag, "#{choice}")
  /     &nbsp
  / -elsif (question.question_type == "statement")
  / -elsif (question.question_type == "message")
  /   %textarea{:cols => "35", :name => "#{question.question}]", :rows => "6"} 
  / -elsif (question.question_type == "textbox")
  /   %input{:name => "#{question.question}", :type => "text"}

  = render 'shared/navi_bar'

  %div.container-fluid
    %h1 #{@form_type}
    %p
      %font{:color => "Crimson"} #{@error}

    = form_tag form_user_path(:type=> @form_type) do
      - answer = 1
      - @list_of_questions.each do |question|
        %p 
          %font{:color => "black"} #{question.question}
          - if (question.question_type == "textbox")
            = text_field :form_answer, answer, size: 20
            - answer += 1 
          - elsif (question.question_type == "radio_button")
            -String(String(question.answers)[1..-2]).split(', ').each do |choice|
              = label :form_answer, answer, choice
              = radio_button :form_answer, answer, choice
            - answer += 1
          - elsif (question.question_type == "checkbox")
            - check_ans = 0
            - String(String(question.answers)[1..-2]).split(', ').each do |choice|
              = label :form_answer, answer, choice
              = check_box_tag "form_answer[#{answer.to_s}][check_box_ans][#{check_ans.to_s}]", choice
              = check_ans += 1
            - answer += 1
          - elsif (question.question_type == "statement")
            = text_area :form_answer, answer, size: "35x6"

      = submit_tag 'Save and Return'
    =link_to 'Save and Return', form_user_path(:type=> @form_type,:save => true), :method => :post
    =link_to 'Submit Form', form_user_path(:submit => true, :type => @form_type)