- body_class "users_view"
= render 'shared/navi_bar'

%div.users_index_title.effect1
  %div.container-fluid
    %h1 #{@form_name}

%div.users_content.effect1
  %div.container-fluid
    = form_tag user_form_question_path(@user,@form_type), {:method => :put, :class => "form-inline"} do
      = render "shared/form_questions"

      = submit_tag 'Save and Return', {:id => "save_and_ret_btn", disabled: @disable}
      = submit_tag 'Submit', {:id => "aprove_btn", disabled: @disable}

    %div.back_user_btn
      = link_to 'Back', user_path(@user), :id => "back_btn"