- body_class "users_view"
= render 'shared/navi_bar'

%div.container-fluid
  %h1 #{@form_name}

  = form_tag user_form_question_path(@user,@form_type), {:method => :put, :class => "form-inline"} do
    = render "shared/form_questions"

    = submit_tag 'Save and Return', disabled: @disable
    = submit_tag 'Submit', disabled: @disable

  = button_to 'Back', user_path(@user), {:class => "btn btn-default", method: :get}