- body_class "users_view"
= render 'admin/navi_bar'

%div.users_index_title.effect1
  %div.container-fluid
    %h1 #{@form_name}

%div.users_content.effect1
  %div.container-fluid
    = form_tag edit_form_admin_user_application_path(@user, :id => @application.id, :form_type => @form.form_name), {:method => :put, :class => "form-inline"} do
      = render "shared/form_questions"

      = submit_tag 'Submit', {:id => "aprove_btn", disabled: false}

    = link_to "Back", admin_user_application_path, :id => "back_btn"