- body_class "users_view"
= render 'admin/navi_bar'

%div.container-fluid
  %h1 #{@form_type}

  = form_tag user_form_question_path(:type=> @form_type) do
    - answer = 0
    - @list_of_questions.each do |question|
      %p 
        %font{:color => "black"} #{question.question}
        - if (question.question_type == "textbox")
          - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
            - f_answer = @form_answer[answer.to_s]
          = text_field_tag "form_answer[#{answer.to_s}]", f_answer, size: 20, disabled: true
          - answer += 1 
        - elsif (question.question_type == "radio_button")
          -String(String(question.answers)[1..-2]).split(', ').each do |choice|
            - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
              - if @form_answer[answer.to_s] == choice
                - r_checked = true
            = label :form_answer, answer, choice
            = radio_button_tag "form_answer[#{answer.to_s}]", choice, r_checked, disabled: true
          - answer += 1
        - elsif (question.question_type == "checkbox")
          - check_ans = 0
          - String(String(question.answers)[1..-2]).split(', ').each do |choice|
            - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
              - if @form_answer[answer.to_s]["check_box_ans"][check_ans.to_s] == choice
                - c_checked = true
            = label :form_answer, answer, choice
            = check_box_tag "form_answer[#{answer.to_s}][check_box_ans][#{check_ans.to_s}]", choice, c_checked, disabled: true
            = check_ans += 1
          - answer += 1
        - elsif (question.question_type == "statement" || question.question_type == "message")
          - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
            - f_answer = @form_answer[answer.to_s]
          = text_area_tag "form_answer[#{answer.to_s}]", f_answer, size: "60x5", disabled: true
          - answer += 1

  = button_to "Back", admin_user_application_path, {:class => "btn btn-default", method: :get}