%h2= "Welcome"

%p
	%strong= "Email: #{@user.email}"
%p
	-if @application
		%strong="Application type: #{@type}"
	-else
		Please take survey below to determine your application status.

-if @application
	-@forms_to_build.each do |form|
		%br= link_to "#{form.form_name}", form_user_path(:type => form.id), :class => "form_link"
	%br= link_to "Payment"

%br
= button_to "Take Survey", survey_user_path, {:id => "questionnaire_button", method: :get}
= button_to "Edit Profile", edit_user_path(@user)
= button_to "Logout", destroy_user_session_path, {:id => "logout_button", method: :delete}