%h2= "Welcome #{@user.email}"

%p
	%strong name
%p
	%strong company
%p
	%strong Application type:
	-if @application
		="#{@application.app_type}"
	-else
		status




= link_to "Restaurant Concessionaire", form_user_path(:type => "restaurant_concessionaire")

%p payment

= button_to "Take Survey", survey_user_path, {:id => "questionnaire_button", method: :get}
= button_to "Edit Profile", edit_user_path(@user)
= button_to "Logout", destroy_user_session_path, {:id => "logout_but", method: :delete}