- body_class "users_view"
= render 'shared/navi_bar'

%div.container-fluid
  %div.row
    %div.span5
      %h2= "Welcome"
      %p
        %strong= "Email: #{@user.email}"
      -if @application
        %p    
          %strong="Application Type: #{@type}"
        %p
          %strong="Application Year: #{@year}"
        %p
          %strong="Application Status: #{@status}"
        %p
          %strong="Total Cost: $#{@application_cost}"
        -unless @application.hasPaid?
          %br= button_to 'Pay Now', submit_payment_user_path(@user), {:id => 'submit_payment_button', method: :post}
      -else
        = button_to "Click Here to Start Application", survey_user_path(@user), {:id => "questionnaire_button", method: :get}
      = button_to "Edit Profile", edit_user_registration_path, {method: :get}
      = button_to "Logout", destroy_user_session_path, {:id => "logout_button", method: :delete}
    %div.span5
      -if @application
        %h3= "Please fill out the forms below"
        %ul
          -@forms_to_build.each do |form|
            %br
            %li= link_to "#{form.form_name}", user_form_question_path(@user,form), :class => "form_link", :id => "link_#{form.id}"
            - if @completed_forms[form.form_name]
              %span.glyphicons.icon-check 
        %br
        -unless @application.completed
          = button_to "Submit Application", submit_application_user_path(@user), {:id => "submit_app_button", method: :post, data: { confirm: "Your current application will be finalized. Are you sure you want to submit?" }}
          = button_to "Restart Application", survey_user_path(@user), {:id => "questionnaire_button", method: :get, data: { confirm: "Your current application will be reset. Are you sure you want to restart?" }}

    %div.span6
      = render 'shared/about_festival'
