- body_class "users_view"
= render 'shared/navi_bar'

%div.users_index_page
  %div.users_information
    %div.container-fluid
      %h2= "Welcome"
      %p
        %strong= "Email: #{@user.email}"
      -if @application
        %p    
          %strong="Application Type: #{@type}"
        %p
          %strong="Application Year: #{@year}"
        %p
          %strong="Application Status: #{@status}"
        %p
          %strong="Amount Paid: $#{@application_cost}"
        -unless @application.hasPaid?
          %br= button_to 'Pay Now', submit_payment_user_path(@user), {:id => 'submit_payment_button', method: :post}
      -else
        %p Please take survey below to determine your application type.
      = button_to "Edit Profile", edit_user_registration_path, {method: :get}
      = button_to "Logout", destroy_user_session_path, {:id => "logout_button", method: :delete}

  %div.users_forms
    %div.container-fluid
      -if @application
        %h3= "Application Forms"
        %ul
          -@forms_to_build.each do |form|
            %br
            %li= link_to "#{form.form_name}", user_form_question_path(@user,form), :class => "form_link", :id => "link_#{form.id}"
            - if @completed_forms[form.form_name]
              %span.glyphicons.icon-check 
        %br
        -unless @application.completed
          = button_to "Submit Application", submit_application_user_path(@user), {:id => "submit_app_button", method: :post, data: { confirm: "Are you sure you want to submit?" }}
          = button_to "Restart Application", survey_user_path(@user), {:id => "questionnaire_button", method: :get, data: { confirm: "Are you sure you want to restart?" }}
      -else
        %br
        = button_to "Determine Application Type", survey_user_path(@user), {:id => "questionnaire_button", method: :get}

  %div.users_about_us
    %div.container-fluid
      = render 'shared/about_festival'
