- answer = 0
- @list_of_questions.each do |question|
  %div.control-group
    %label.control-label 
      #{question.question}
    %div.controls
      - if (question.question_type == "textbox")
        - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
          - f_answer = @form_answer[answer.to_s]
        = text_field_tag "form_answer[#{answer.to_s}]", f_answer, size: 20, disabled: @disable
        - answer += 1
      - elsif (question.question_type == "radio_button")
        -String(String(question.answers)[1..-2]).split(',').each do |selection|
          - choice = selection.strip
          - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
            - if @form_answer[answer.to_s] == choice
              - r_checked = true
          %div.radio
            %label.radio
              = radio_button_tag "form_answer[#{answer.to_s}]", choice, r_checked, disabled: @disable
              #{choice}
        - answer += 1
      - elsif (question.question_type == "checkbox")
        - check_ans = 0
        - String(String(question.answers)[1..-2]).split(',').each do |selection|
          - choice = selection.strip
          - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
            - if @form_answer[answer.to_s]["check_box_ans"][check_ans.to_s] == choice
              - c_checked = true
          %div.checkbox
            %label.checkbox
              = check_box_tag "form_answer[#{answer.to_s}][check_box_ans][#{check_ans.to_s}]", choice, c_checked, disabled: @disable
              #{choice}
          - check_ans += 1
        - answer += 1
      - elsif (question.question_type == "message")
        - if !@form_answer.nil? && @form_answer.has_key?(answer.to_s)
          - f_answer = @form_answer[answer.to_s]
        = text_area_tag "form_answer[#{answer.to_s}]", f_answer, size: "60x5", disabled: @disable
        - answer += 1
      - elsif (question.question_type == "statement")
        - answer += 1