%h1 Login Page

= form_tag login_path do

  = label :user, :username, 'username'
  = text_field :user, 'username'

  = label :user, :password, 'password'
  = text_field :user, 'password'

  = submit_tag 'Sign in'