- body_class "users_view"

= render 'admin/navi_bar'

%div.users_index_title.effect1
  %div.container-fluid
    %h3 Forms List
%div.users_content.effect1
  %table.table.table-hover
    %thead
      %tr
        %th Form
        %th Created At
        %th More
    %tbody
      - if !@forms.nil?
        - @forms.each do |form|
          %tr
            %td= form.form_name
            %td= form.created_at
            %td= link_to "View Form", admin_form_form_questions_path(form),  class: "btn btn-default admin_button"
- if !@forms.nil?
  %div.pagination
    = will_paginate @forms, renderer: BootstrapPagination::Rails

  %div.back_user_btn
    = link_to "Back", admin_root_path, :id => "back_btn"