- body_class "users_view"

%div.page-wrap
  = render 'admin/navi_bar'

  %div.container-fluid
    %h3 Forms List
    %div.forms_container.effect1
      %table.table.table-hover
        %thead
          %tr
            %th Form
            %th Created At
            %th More
        %tbody
          - if !@forms.nil?
            - @forms.each do |form|
              %tr
                %td= form.form_name
                %td= form.created_at
                %td= link_to "View Form", admin_form_form_questions_path(form),  class: "btn btn-default admin_button"
    - if !@forms.nil?
      %div.pagination
        = will_paginate @forms, renderer: BootstrapPagination::Rails

    = button_to "Back", admin_root_path, {:class => "btn btn-default", method: :get}