- body_class "users_view"
= render 'admin/navi_bar'

%div.users_index_title.effect1
  %div.container-fluid
    %h1 Edit User

%div.users_content.effect1
  %div.container-fluid
    = form_tag admin_user_path(@user), {:method => :put, :class => "form-horizontal"} do
      %div.control-group
        %label.span3.control-label
          Enter the Company Name:
        %div.span9
          = text_field :user, 'company_name', size: 50
      %div.control-group
        %label.span3.control-label
          Enter the Contact Person:
        %div.span9
          = text_field :user, 'contact_person', size: 50
      %div.control-group
        %label.span3.control-label
          Enter the Telephone Number:
        %div.span9
          = text_field :user, 'telephone', size: 50

      = submit_tag 'Update User', :id => "submit_btn"

    = button_to "Delete User", admin_user_path(@user), {:id => "delete_btn_centered", method: :delete, data: { confirm: "Once deleted user cannot be recovered. Are you sure?"}}
    = link_to "Back", admin_user_path(@user), :id => "back_btn"