%body.users_view

  %div.alert_msg
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

  = render 'admin/navi_bar'

  %div.container-fluid
    %div.row
      %div.span12
        %h1 Admin Page
        %h3 Users List
    %div.user_search
      = form_tag admin_search_user_path do
        = label :user_email, :email, 'Search by e-mail'
        = text_field :user_email, 'email', size: 30
        = submit_tag 'Search', :class => "btn btn-default"
    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th E-mail
          %th Created At
          %th Actions
      %tbody
        - if @users.any?
          - @users.each do |user|
            %tr
              %td= user.id
              %td= user.email
              %td= user.created_at
              %td= link_to "Show", admin_user_path(user), :class => "btn btn-default admin_button"
    - if @users.any?
      %div.pagination
        = will_paginate @users, renderer: BootstrapPagination::Rails

    = button_to "Create User", new_admin_user_path, {:class => "btn btn-default", method: :get}
    = button_to "Back", admin_root_path, {:class => "btn btn-default", method: :get}