- body_class "admin_view"

= render 'admin/navi_bar'

%div.users_index_title.effect1
  %div.container-fluid
    %div.row
      %div.span12
        %h1.admin_titles Admin Page
        %h3.admin_titles Users List

%div.users_search_fields.effect1
  %div.container-fluid
    %ul
      %li.search_fields
        %div.user_search
          = form_tag search_admin_users_path do
            = label_tag 'user_email', 'Search by e-mail'
            = text_field_tag 'user_email', nil, placeholder: 'User Email'
            = submit_tag 'Search', :class => "search_btn", :id => "search_filter_btn"
      %li.search_fields
        %div.user_filter
          = form_tag filter_admin_users_path do
            = label_tag 'app_year', 'Filter Users by year'
            = text_field_tag 'app_year', nil, placeholder: 'Application Year'
            = submit_tag 'Filter', :class => 'filter_btn', :id => "search_filter_btn"

%div.users_content.effect1
  %div.container-fluid
    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th= link_to "E-mail", admin_users_path(:order => :email)
          %th= link_to "Company Name", admin_users_path(:order => :company_name)
          %th= link_to "Contact Person", admin_users_path(:order => :contact_person)
          %th Telephone Number
          %th Created At
          %th More Details
      %tbody
        - if !@users.nil? && !@users.empty?
          - @users.each do |user|
            %tr
              %td= user.id
              %td= user.email
              %td= user.company_name
              %td= user.contact_person
              %td= user.telephone
              %td= user.created_at
              %td= link_to "View User", admin_user_path(user), :id => "view_btn"
    - if !@users.nil? && !@users.empty?
      %div.pagination
        = will_paginate @users, renderer: BootstrapPagination::Rails
    %div.create_user_btn
      = link_to "Create User", new_admin_user_path, :id => "aprove_btn"
    %p
      %button#emails Get emails
    %textarea#testarea{:cols => "50", :rows => "3", :style => "display:none;"}
    %div.back_user_btn
      = link_to "Back", admin_root_path, :id => "back_btn"