%div.container-fluid
  %div.row
    %div.span9
      %h1 Admin Page
      %h3 Users List
  %div.row
    %div.span9
      %table.table.table-hover
        %thead
          %tr
            %th ID
            %th E-mail
            %th Created At
            %th Actions
          %tbody
            - if @users.any?
              - @users.each do |user|
                %tr
                  %td= user.id
                  %td= user.email
                  %td= user.created_at
                  %td= link_to "Show", admin_user_path(user)

= button_to "Create User", new_admin_user_path, {:id => "create_but", method: :get}