- body_class "admin_index"
%div.page-wrap
  = render 'admin/navi_bar'

  %div.admin_index_page
    %div.admin_info.effect1
      %div.container-fluid
        %h2= "Welcome Admin"
        %p= "Email: #{@admin.email}"
        %div.admin_btns
          %div#but_1
            = link_to "Edit Profile", edit_user_registration_path, :id => "edit_btn"
          %br
          %div#but_2
            = button_to "Logout", destroy_user_session_path, {:id => "logout_btn", method: :delete}

    %div.admin_links
      %div.container-fluid
        %div.admin_users_link
          = link_to admin_users_path, :id => "u_link" do
            %span.glyphicon.icon-user Users List
        %br
        %div.admin_forms_link
          = link_to admin_forms_path, :id => "f_link" do
            %span.glyphicon.icon-pencil Forms List

    %div.about_us_container.effect1
      %div.container-fluid
        = render 'shared/about_festival'