%h1 Admin Page
%p= flash[:notice]
%p= flash[:alert]
%h3 Users List

%div
  %table#users
    %thead
      %tr
        %th Email
        %th More Info
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= link_to "More Info", admin_user_path(user)

= button_to "Create User", new_admin_user_path, {:id => "create_but", method: :get}

= button_to "Logout", destroy_user_session_path, {:id => "logout_but", method: :delete}