<!DOCTYPE html>
<html>
<head>
  <title>SFVSRegistrationSystem</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">
  
  <div class="alert_msg">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
